.content {
    margin-top: 20px;
    margin-left: 20px;
}

table {
    margin: 20px 20px;
	border-collapse: collapse;
}

table {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 20px;

}

th {
	height: 30px;
}

td {
    margin-top: 10px;
}

th, td {
	border-bottom: 1px solid black;
}

.th-icon {
    width: 45px;
}

.td-click-edit {
    cursor: pointer;
}

td form button:hover {
    filter: brightness(130%);
}

tr:hover {
    background-color: lightgray;
}
.btn-danger {
    cursor: pointer;
    background-color: red;
    border: none;
    border-radius: 6px;
    padding: 5px;

}

.btn-danger i {
    color: #ffffff;

}
.btn-edit {
    background-color: #e7e7e7; color: black;
    border: none;
    border-radius: 6px;
    padding: 5px;
    cursor: pointer;
}



/* tr:nth-child(even) {
	background-color: lightgray;
} */


/* dl form button {
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
} */

#btn-new-todo {
    position: absolute;
    display: inline-block;
    background-color: #157347;
    color: #ffffff;
    border-radius: 6px; 
    padding: 5px;
    right: 8px;

}
